/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* variables */
/* body */
body {
  background-color: #D9E5E4;
  font-family: 'Poppins', sans-serif;
}

/* navbar */
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bloc_left {
  width: 35%;
}

.bloc_right {
  width: 65%;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 15px 30px;
}

nav .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .navbar_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav li {
  padding-right: 80px;
}

nav li:last-child {
  padding-right: 0px;
}

nav li a {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: #1A2E35;
}

nav li a:hover {
  color: #5E9270;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.svg-icon {
  width: 2em;
  height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #1A2E35;
}

.svg-icon circle {
  stroke: #1A2E35;
  stroke-width: 1;
}

/* section */
.logo {
  padding: 60px 15px 0px 15px;
}

.logo a {
  text-decoration: none;
}

.logo a h1 {
  font-size: 28px;
  font-weight: 500;
  color: #5E9270;
}

.logo a h1:hover {
  opacity: 0.6;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title_content {
  padding: 20px 15px 80px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title_content h2 {
  width: 450px;
  height: 180px;
  font-size: 69px;
  font-weight: bold;
  color: #1A2E35;
  line-height: 78px;
}

.title_content p {
  width: 400px;
  height: 180px;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 2px;
}

.top {
  padding: 15px;
}

.top h3 {
  color: #1A2E35;
  font-weight: 600;
  font-size: 16px;
}

/* carroussel */
article {
  display: none;
}
/*# sourceMappingURL=styles.css.map */