/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* variables */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$light-green: #D9E5E4;
$dark-green: #1A2E35;
$title-green: #5E9270;

/* body */

body {
	background-color: $light-green;
	font-family: 'Poppins', sans-serif;
}

/* navbar */

.container {
	display: flex;
	flex-wrap: wrap;
}

.bloc_left {
	width: 35%;
}

.bloc_right {
	width: 65%;
}

nav {
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding: 30px 15px 30px;

	.navbar {
		display: flex;
		justify-content: space-between;
	}
	
	.navbar_content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	li {
		padding-right: 80px;

		&:last-child {
			padding-right: 0px;
		}

		a {
			font-weight: 500;
			font-size: 14px;
			text-decoration: none;
			color: $dark-green;
	
			&:hover {
				color: $title-green;
				transition: all ease-in-out 0.2s;
			}
		}
	}
}

.svg-icon {
	width: 2em;
	height: 2em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
	fill: $dark-green;
  }
  
  .svg-icon circle {
	stroke: $dark-green;
	stroke-width: 1;
  }

/* section */

.logo {
	padding: 60px 15px 0px 15px;

	a {
		text-decoration: none;

		h1 {
			font-size: 28px;
			font-weight: 500;
			color: $title-green;

			&:hover {
				opacity: 0.6;
				transition: all ease-in-out 0.2s;
			}
		}
	}
}

section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.title_content {
	padding: 20px 15px 80px 15px;
	display: flex;

	h2 {
		
		width: 450px;
		height: 180px;
		font-size: 69px;
		font-weight: bold;
		color: $dark-green;
		line-height: 78px;
	}

	p {
		width: 400px;
		height: 180px;
		font-size: 18px;
		line-height: 36px;
		letter-spacing: 2px;
	}
}

.top {
	padding: 15px;

	h3 {
		color: $dark-green;
		font-weight: 600;
		font-size: 16px;
	}
}

/* carroussel */

article {
	display: none;
}

/*
article .img_1 {
	position: sticky;
	margin: 0px 0px -30px -65px;

	img {
		max-width: 80%;
		z-index: 1;
	}
}

article .img_2 {
	display: none;
}

article {
	width: 80%;
	margin: 80px auto 0px;
	display: flex;
}

.card {
	margin: 0px 20px;
	position: relative;
	background: #fff;
	border-radius: 20px;
	width: 250px;
	height: 272px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-end;
	align-content: flex-end;

	.title_plant h3 {
		font-size: 17px;
		font-weight: bold;
		color: $dark-green;
		z-index: 3;
		width: 155px;
		height: 65px;
		line-height: 25px;
		padding: 20px 10px;
	}
	.description {
		display: none;
	}
	.btn_style {
		display: none;
	}
}
*/


.parent {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.div1 { 
		content: '';
		grid-area: 2 / 2 / 6 / 5; 
		background-color: #FFF;
		border-radius: 20px;
		width: 250px;
		height: 272px;
	}
	.div2 { 
		grid-area: 1 / 1 / 6 / 4; 

		img {
			width: 21%;
			margin-left: 320px;
			margin-top: 20px;
			filter: drop-shadow(10px 10px 0.75em #999999);		}
	}
	.div3 { 
		grid-area: 3 / 3 / 5 / 5; 
		font-size: 17px;
		font-weight: bold;
		color: $dark-green;
		width: 155px;
		height: 65px;
		line-height: 25px;
		margin-left: -270px;
		margin-top: 100px;

	} 
	